body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000000; /* Black background color */
    color: #ffffff; /* Light text color */
    padding: 20px;
    margin: 0;
}

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}


.ascii-container {
    display: flex;
    justify-content: flex-start; /* Center the ASCII arts horizontally */
    align-items: center; /* Center the ASCII arts vertically */
    flex-wrap: wrap; /* Wrap the ASCII arts if they don't fit on one line */
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


.ascii-art {
width: 30%;
color: white; /* White text color */
font-size: 0.8vw; /* Adjust as needed */
animation: fadeIn 2s ease-in-out;
transition: color 0.5s ease-in-out; /* Add a transition effect */
}

.ascii-art:hover {
    color: #00ff00; /* Change the color to red when the ASCII art is hovered over */
}

.heading {
    font-size: 1.5vw; /* Adjust as needed */
    color: #00ff00; /* Green heading color */
    text-align: center; /* Center the heading */
    margin-bottom: 20px; /* Add some space below the heading */
}

.infos {
    font-size: 1.2vw; /* Adjust as needed */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    margin-bottom: 20px; /* Add some space below the text */
}

/* For mobile phones: */
@media only screen and (max-width: 600px) {
    .ascii-art {
        font-size: 0.8vw; /* Adjust as needed */
    }

    .heading {
        font-size: 3vw; /* Adjust as needed */
    }

    .infos {
        font-size: 3vw; /* Adjust as needed */
    }
    .command {
        font-size: 3vw; /* Adjust as needed */
    }
    .command-line {
        font-size: 3vw; /* Adjust as needed */
    }
    #prompt {
        font-size: 3vw; /* Adjust as needed */
    }
    
}

/* For tablets: */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .ascii-art {
        font-size: 0.8vw; /* Adjust as needed */
    }

    .heading {
        font-size: 2vw; /* Adjust as needed */
    }

    .infos {
        font-size: 3vw; /* Adjust as needed */
    }
    .command {
        font-size: 3vw; /* Adjust as needed */
    }
    .command-line {
        font-size: 3vw; /* Adjust as needed */
    }
    #prompt {
        font-size: 3vw; /* Adjust as needed */
    }
}

/* For desktop and laptop screens: */
@media only screen and (min-width: 1025px) {
    .ascii-art {
        font-size: 0.8vw; /* Adjust as needed */
    }

    .heading {
        font-size: 1.5vw; /* Adjust as needed */
    }

    .infos {
        font-size: 1.2vw; /* Adjust as needed */
    }
    .command {
        font-size: 1.2vw; /* Adjust as needed */
    }
    .command-line {
        font-size: 1.2vw; /* Adjust as needed */
    }
    #prompt {
        font-size: 1.2vw; /* Adjust as needed */
    }
}

 /* Index, color2, command, error, and white styles */
 .index {
    color: #DCDCCC;
  }
  .color2 {
    color: yellow;
  }
  .color1 {
    color: #00ff80;
  }
    .color3 {
        color: orange;
    }
 .color4 {
    color: #FF0000;
  }
  .command {
    color: #00ff80;
    text-shadow: 0 0 4px #fc8f00; 
  }
  .error {
    color: #B89076;
  }
  .white {
    color: #fff;
  }
  
  /* Inherit, a, a:hover, and a:focus styles */
  .inherit,
  a {
    color: #e87575;
  }
  a {
    text-decoration: inherit;
  }
  a:hover {
    background: #73ABAD;
    color: #211830;
  }
  a:focus {
    outline: 0;
  }

  /* Paragraph styles */
  p {
    display: block;
    line-height: 1.3em;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    letter-spacing: 0.05em;
    animation: typing 0.5s steps(30, end);
  }
  .no-animation {
    animation: typing 0 steps(30, end);
  }
  .margin {
    margin-left: 0px;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  .command-line {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    caret-color: transparent;
    line-height: 1.3em;
}



#input-container {
    display: flex;
    align-items: center;
}

#prompt {
    display: none;
}

  #prompt {
    margin-top: 0px;
    animation: show 1s ease forwards;
    animation-delay: 1.2s;
    opacity: 100;
    color: #FF0000;
    list-style: none;
    height: 20px;  
    line-height: 2.3em;
  }

#command-input {
    display: inline-block;
    min-width: 20px;
    border: none;
    background: none;
    color: inherit;
    outline: none;
    font-size: inherit;
    font-family: 'Courier New', monospace;
    line-height: 2.2em;
    height: 20px;


}

#command-input:empty::before {
    content: '\200B'; /* Zero-width space to ensure div is never empty */
}

#command-input::after {
    content: '';
    display: inline-block;
    width: 8px;
    height: 25px;
    background-color: #fff;
    animation: blink 1s infinite;
}